# -----------------------------
# Python (Backend)
# -----------------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Node (Frontend)
# -----------------------------
node_modules/
dist/
build/

# -----------------------------
# Environment Files
# -----------------------------
.env

# -----------------------------
# VS Code / IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db